
/*Css General*/
header{
    padding-top:40px;
    background-color:rgba(6, 31, 112, 0.904);
    background-image:url(Imagenes/Fondo_Sangre.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position-x:right;
    background-position-y:center;
    padding-bottom: 20px;
    margin:auto;
    margin-bottom: 10px;
    text-align:center;
}

header img{
    float:center;
    margin:1% 0% 0% 1%;
    width: 95px;
    perspective:90px;
    padding-bottom:15px;
    transition: 1s;
}

header img:hover{
    transform:rotateY(720deg);
    transition: 1s;
}

*{
    font-family: "Chau Philomene One", sans-serif;
}

a{
    text-decoration:none;
}

#Menu{
    padding-bottom:30px;
}

#Menu div{
    margin:4px; 
    color:#f5f11d;   
    font-size:40px;
    display:block;
    border-style:outset;
    border-radius: 0.5%;
    border-color:rgba(0, 0, 0, 0);
    text-align:center;
    width: 97%;
}

#Menu div .opcion{
    width: 100%;
    background-color:rgb(30, 128, 241);
    border-color: #f5f11d;
    border-radius: 10px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    transition: 0.5s;
}

#Menu div .opcion:hover{
    background-color: #f5f11d;
    color:rgb(30, 128, 241);
    transition: 0.5s;
}

footer{
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.767);
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top:40px;
    height: 200px;
}

footer p{
    color:#444441f3;
}

footer a{
    color:#fffff8;
}

footer .Contactanos{
    width: 40%;
    margin-top: 0px;
    text-align: center;
}

footer .Redes{
    margin-bottom: 0px;
}

footer .Redes div{
    display:inline-block;
    text-align: center;
    margin:0px;
    width:100px;
}

footer .Redes div a img{
    width:80px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s;
}

footer .Redes div a img:hover{
    width:100px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: 0.4s;
}



/*Css Pagina Temporadas*/

#body_Temporadas_invencible{
    background-color: rgb(12, 97, 209);
    background-image: url("Imagenes/invencible_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin:0;
}

#body_Temporadas_invencible #Menu .Temporadas{
    background-color: #f5f11d;
    color:rgb(30, 128, 241);
}

#body_Temporadas_invencible h1{
    color: #00000000;
    margin: 0;
}

#Centro_Temporadas{
    margin: 10px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}

#Centro_Temporadas .Temporada_Superior{
    width: 100%;
    text-align: center;
}

#Centro_Temporadas .Temporada_Superior div{
    margin:10px;
    width: 85%;
    display: inline-block;
}

#Centro_Temporadas .Temporada_Superior div iframe{
    width: 100%;
}

#Centro_Temporadas .Temporada_Centro{
    margin: 70px;
}

#Centro_Temporadas .Temporada_Centro div{
    text-align: left;
    background-color: #0b2dc7af;
    background-image: url("Imagenes/Fondo_Sangre.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    border-color: yellow;
    border-style: solid;
    border-width: 2px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;
}


#Centro_Temporadas .Temporada_Centro div li{
    margin: 10px;
    font-size: 18px;
    font-family: "Chau Philomene One", sans-serif;
    color:rgb(238, 235, 235);
    list-style: none;
}


#Centro_Temporadas .Temporada_Centro div p{
    margin: 10px;
    font-size: 17px;
    font-family: "Chau Philomene One", sans-serif;
    color:rgb(238, 235, 235);
}


#Centro_Temporadas .Temporada_Centro h2{
    text-align: center;
    color:rgb(241, 227, 18);
}

#Centro_Temporadas .Temporada_Centro h3{
    text-align: center;
    color:rgb(241, 227, 18);
}

#Centro_Temporadas .Temporada_Centro:hover h3{
    color:rgb(241, 227, 18);
}




/*Css Pagina Index*/


#body_index_invencible{
    margin:0;
    background-color: #3e65e7;
    background-image: url("Imagenes/invencible_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
}

#body_index_invencible #Menu .Inicio{
    background-color: #f5f11d;
    color:rgb(30, 128, 241);
}

#body_index_invencible h1{
    margin:0;
    color:#00000000;
}

#Centro_index{
    margin:0;
    text-align: center;

}

#Centro_index .Parte_Superior{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 60px;
    margin: 10px;
}

#Centro_index .Parte_Superior .Posters{
    width: 240px;
    height: 360px;
    display: flex;
    border-style: solid;
    border-color: #f5f11d;
    border-width: 1px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

#Centro_index .Parte_Superior .Posters img{
    width: 240px;
    height:360px;
    padding-top: 0px;
}

#Centro_index .Parte_Inferior{
    display:flex;
    flex-flow: column wrap;
    background-color: #0d4fdd ;
    border-color: rgba(255, 255, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
    justify-content: center;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px;
}

#Centro_index .Parte_Inferior .justificacion{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    width:100%;
}

#Centro_index .Parte_Inferior .Info{

    display:inline-block;
    text-align: center; /*Pasar a left en el responsive*/
    margin:2%;
    background-color: #1778f7;
    opacity:1;

    background-image:url(Imagenes/fondo_amarillo.jfif);
    background-size: cover;
    background-repeat: no-repeat;

    border-style: inset;
    border-color: #e9ec0aea;
    border-width: 10px;
    border-radius: 10px;
    transition: 0.1s;   
}

#Centro_index .Parte_Inferior .Info li{
    color:#161614;
    font-size: 17px;
    transition: 0.2s;
    list-style: none;
}

#Centro_index .Parte_Inferior .Info h2{
    text-align: center;
    color: #1870e4;
}

#Centro_index .Parte_Inferior .Info a{
    color: #1645c5;
    transition: 0.2s;
    text-decoration:none;
}


.uno{
    order: 2;
}

.dos{
    order: 3;
    padding-bottom: 8px;
}

.tres{
    order: 4;
}

.cuatro{
    order: 1;
    padding-bottom: 10px;
}


/*Css Pagina Comic*/


#body_comic_invencible{
    margin: 0%;
    color:#200ae0;
    background-repeat: no-repeat;
    background-color: #3e65e7;
    background-image: url("Imagenes/invencible_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#body_comic_invencible #Menu .Comic{
    background-color: #f5f11d;
    color:rgb(30, 128, 241);
}

#body_comic_invencible main{
    display: inline-block;
    width: 100%;
    text-align: center;
}

#body_comic_invencible #Flex_Comic{
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #0b2dc7af;
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
}


#body_comic_invencible #Flex_Comic .Mas_Grande{
    display:flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
    margin: 0px;
}

#body_comic_invencible #Flex_Comic .Mas_Grande .Mas_Grande_2 img{
    width: 60%;
    border-color: yellow;
    border-style: solid;
    border-width: 2px;
}

#body_comic_invencible #Flex_Comic .Mas_Grande .Mas_Grande_2{
    width:70%;
    margin:10px;
    align-self: center;
    text-align: center;
    justify-content: center;
}


#body_comic_invencible #Info_Comic{
    margin:70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#body_comic_invencible #Info_Comic div{
    background-color: #0b2dc7af;
    border-color: yellow;
    border-style: solid;
    border-width: 2px;
    transition: 0.2s;
}

#body_comic_invencible #Info_Comic div p{
    margin: 10px;
    font-size: 17px;
    color:rgb(238, 235, 235);
}

#body_comic_invencible #Info_Comic div h1{
    text-align: center;
    color:rgb(241, 227, 18);
}

#body_comic_invencible #Info_Comic div h2{
    text-align: center;
    color:rgb(241, 227, 18);
}





/*Css Pagina Personajes*/

#body_Personajes_Invencible{
    margin: 0px;
    background-color: #2151ee;
    background-image: url("Imagenes/invencible_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}

#body_Personajes_Invencible #Menu .Personajes{
    background-color: #f5f11d;
    color:rgb(30, 128, 241);
}

#body_Personajes_Invencible h1{
    color:#00000000;
    margin: 0%;
}

#body_Personajes_Invencible #Centro_Personajes{
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#body_Personajes_Invencible #Centro_Personajes section{
    margin:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    flex-flow: wrap row;
    justify-content: center;
}

#body_Personajes_Invencible #Centro_Personajes section p{
    font-size: 20px;
    font-family: "Chau Philomene One", sans-serif;
}

#body_Personajes_Invencible #Centro_Personajes h2{
    width: 100%;
    text-align: center;
}

#body_Personajes_Invencible #Centro_Personajes .Imagen{
    width: 170px;
}

#body_Personajes_Invencible #Centro_Personajes .Texto{
    padding-top: 40px;
    margin:15px;
    width: 100%; /*en el responsive, transformar a 100%*/
}

#body_Personajes_Invencible #Centro_Personajes .Imagen img{
    width: 100%;
}

#body_Personajes_Invencible #Centro_Personajes .Mark{
    background-color:rgba(21, 164, 247, 0.781);
    border-style: solid;
    border-color: rgb(252, 252, 10);
    border-width: 5px;
}

#body_Personajes_Invencible #Centro_Personajes .Debbie{
    background-color:rgba(43, 170, 11, 0.74);
    border-color: rgb(7, 43, 3);
    border-style: solid;
    border-width: 5px;
}

#body_Personajes_Invencible #Centro_Personajes .Nolan{
    background-color:rgba(255, 255, 255, 0.89);
    border-color: rgb(250, 6, 6);
    border-style: solid;
    border-width: 5px;
}

#body_Personajes_Invencible #Centro_Personajes .Eve{
    background-color:rgba(245, 78, 209, 0.925);
    border-color: rgb(250, 4, 147);
    border-style: solid;
    border-width: 5px;
}

#body_Personajes_Invencible #Centro_Personajes .Robot{
    background-color:rgba(230, 133, 7, 0.644);
    border-color: rgb(21, 196, 5);
    border-style: solid;
    border-width: 5px;
}

#body_Personajes_Invencible #Centro_Personajes .Rex{
    background-color:rgba(238, 229, 102, 0.952);
    border-color: rgb(240, 65, 12);
    border-style: solid;
    border-width: 5px;
}

#body_Personajes_Invencible #Centro_Personajes .Cecil{
    background-color:rgba(95, 95, 92, 0.952);
    border-color: rgb(73, 41, 4);
    color: white;
    border-style: solid;
    border-width: 5px;
}


#body_Personajes_Invencible #Centro_Personajes .Allen{
    background-color:rgba(231, 231, 230, 0.87);
    border-color: rgb(233, 151, 58);
    border-style: solid;
    border-width: 5px;
}




/*Css Pagina Galeria*/

#body_galeria_invencible{
    margin: 0%;
    color:#200ae0;
    background-image: url("Imagenes/invencible_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-color: #3e65e7;
}

#body_galeria_invencible #Menu .Galeria{
    background-color: #f5f11d;
    color:rgb(30, 128, 241);
}

#body_galeria_invencible h1{
    color:#00000000;
}

#body_galeria_invencible #Centro_Galeria #Flex_Galeria{
    display: flex;
    flex-flow: row wrap;
    background-color: #0b2dc7af;
    border-color: yellow;
    border-style: solid;
    border-width: 2px;
    transition: 0.2s;
    justify-content: center;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

#body_galeria_invencible #Centro_Galeria #Flex_Galeria .FOTO_GALERIA{
    margin: 7px;
    width: 560px;
    height: 300px;
    display: flex;
    justify-content: center;
}

#body_galeria_invencible #Centro_Galeria #Flex_Galeria .FOTO_GALERIA img{
    width: 500px;
    padding-top: 20px;
}

#body_galeria_invencible #Centro_Galeria #Flex_Galeria .FOTO_GALERIA img:hover{
    width: 560px;
    height: 300px;
    padding-top:0px;
}



/*Css Pagina Contacto*/

#body_contactanos_invencible{
    margin: 0%;
    color:#200ae0;
    background-repeat: no-repeat;
    background-color: #3e65e7;
}

#body_contactanos_invencible h1{
    color:#00000000;
    margin: 0px;
}

#body_contactanos_invencible #Contenedor_Flex_Contacto{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#body_contactanos_invencible #Contenedor_Flex_Contacto .IMAGEN{
    width:100%;
    display: flex;
    justify-content: center;
}

#body_contactanos_invencible #Contenedor_Flex_Contacto .IMAGEN img{
    width:100%;
    padding-left: 20px;
}

.CONTACTO_CONTENEDOR{
    width: 600px;
    height: 800px;
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
    background-color: rgb(12, 97, 209);
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;

}

.Elementos_Contacto{
    font-size: 30px;
    font-family: "Chau Philomene One", sans-serif;
    color:yellow;
}

.Elementos_Contacto p{
    text-align: center;
}

.Elementos_Contacto input{
    width: 200px;
    margin-left: 33%;
    border-radius: 10px;
    font-size: 20px;
}

#ENVIAR{
    display:inline-block;
    text-align: center;
    width:100%;
}

#enviar{
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: 20px;
    border: none;
    color: yellow;
    background-color: rgb(25, 172, 240); 
    font-size: 20px;
    transition:0.2s;
}

#enviar:hover {
    background-color: yellow;
    color: rgb(19, 141, 240);
    transition:0.2s;
} 




/*EXCLUSIVO PARA PC | 1300px
                    |                    
                   \ /
                    V
*/


@media screen and (min-width: 1300px){
   
    /*Css General*/

    header{
        padding-top:40px;
        background-color:rgba(30, 128, 241, 0.774);
        background-image:url(Imagenes/Fondo_Sangre.png);
        background-size:cover;
        background-repeat:no-repeat;
        background-position-y:3500px;
        padding-bottom: 20px;
        margin:auto;
        margin-bottom: 10px;
        text-align:center;
        transition: 0.1s;
    }
    
    header:hover{
        background-color:rgba(6, 31, 112, 0.904);;
        background-image:url(Imagenes/Fondo_Sangre.png);
        background-size:cover;
        background-position-x:right;
        background-position-y:center;
        transition: 0.1s;
    }

    header img{
        float:center;
        margin:1% 0% 0% 1%;
        width: 95px;
        perspective:90px;
        padding-bottom:15px;
        transition: 1s;
    }
    
    header img:hover{
        transform:rotateY(720deg);
        transition: 1s;
    }
    
    #Menu div{   
        margin:4px; 
        color:#f5f11d;
        font-size:25px;
        display:inline-block;
        border-style:outset;
        border-radius: 0.5%;
        border-color:rgba(0, 0, 0, 0);
        text-align:center;
        width: 17%;
    }
    
    #Menu div .opcion{
        width: 100%;
        background-color:rgb(30, 128, 241);
        border-color: #f5f11d;
        border-radius: 10px;
        border-right-width: 5px;
        border-top-width: 5px;
        border-bottom-width: 5px;
        transition: 0.5s;
    }
    
    #Menu div .opcion:hover{
        background-color: #f5f11d;
        color:rgb(30, 128, 241);
        transition: 0.5s;
    }
    
    footer{
        background-color: rgba(20, 19, 19, 0.5);
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top:40px;
        height: 200px;
        transition: 0.5s;
    }
    
    footer:hover{
        background-color:rgba(0, 0, 0, 0.767);
        transition:0.5s;
    }
    
    footer p{
        color:#44444191;
        transition: 0.5s;
    }
    
    footer:hover p{
        color:#444441f3;
        transition: 0.5s;
    }
    
    footer a{
        color:#92928c91;
        transition: 0.5s;
    }
    
    footer:hover a{
        color:#92928cf6;
        transition: 0.5s;
    }
    
    footer a:hover{
        color:#fffff8;
        transition: 0.5s;
    }
    
    footer .Contactanos{
        width: 100%;
        margin-top: 0px;
        text-align: center;
    }
    
    footer .Redes{
        margin-bottom: 0px;
    }
    
    footer .Redes div{
        display:inline-block;
        text-align: center;
        margin:0px;
        width:60px;
    }
    
    footer .Redes div a img{
        width:40px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: 0.4s;
    }
    
    footer .Redes div a img:hover{
        width:60px;
        padding-top: 0px;
        padding-bottom: 0px;
        transition: 0.4s;
    }




    /*Temporadas*/
    #Centro_Temporadas .Temporada_Superior div{
        margin:10px;
        width: 44%;
        display: inline-block;
    }

    #Centro_Temporadas .Temporada_Centro div{
        text-align: left;
        background-color:rgba(30, 128, 241, 0.774);
        border-color: rgb(4, 0, 255);
        background-position-x: -1400px;
        border-style: solid;
        border-width: 2px;
        padding-bottom: 20px;
        padding-top: 10px;
        width: 100%;
        transition: 0.2s;
    }
    
    #Centro_Temporadas .Temporada_Centro div:hover{
        background-color: #0b2dc7af;
        background-image: url("Imagenes/Fondo_Sangre.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        border-color: yellow;
        border-style: solid;
        border-width: 2px;
        transition: 0.1s;
    }
    
    #Centro_Temporadas .Temporada_Centro div li{
        margin: 10px;
        font-size: 18px;
        font-family: "Chau Philomene One", sans-serif;
        color:rgb(58, 58, 55);
        list-style: none;
        transition: 0,5s;
    }
    
    #Centro_Temporadas .Temporada_Centro div:hover li{
        color:rgb(238, 235, 235);
        transition: 0,5s;
    }
    
    #Centro_Temporadas .Temporada_Centro div p{
        margin: 10px;
        font-size: 17px;
        font-family: "Chau Philomene One", sans-serif;
        color:rgb(58, 58, 55);
        transition: 0,5s;
    }
    
    #Centro_Temporadas .Temporada_Centro div:hover p{
        color:rgb(238, 235, 235);
        transition: 0,5s;
    }
    
    #Centro_Temporadas .Temporada_Centro h2{
        text-align: center;
        color:rgb(23, 10, 209);
        transition: 0,5s;
    }
    
    #Centro_Temporadas .Temporada_Centro:hover h2{
        color:rgb(241, 227, 18);
        transition: 0,5s;
    }
    
    #Centro_Temporadas .Temporada_Centro h3{
        text-align: center;
        color:rgb(23, 10, 209);
        transition: 0,5s;
    }
    
    #Centro_Temporadas .Temporada_Centro:hover h3{
        color:rgb(241, 227, 18);
        transition: 0,5s;
    }




    /*Personajes*/
    #body_Personajes_Invencible{
        margin: 0px;
        background-color: #2151ee;
        background-image: url("Imagenes/invencible_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
    }
    
    #body_Personajes_Invencible #Menu .Personajes{
        background-color: #f5f11d;
        color:rgb(30, 128, 241);
    }
    
    #body_Personajes_Invencible h1{
        color:#00000000;
        margin: 0%;
    }
    
    #body_Personajes_Invencible #Centro_Personajes{
        margin: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes section{
        
        margin:10px;
    
        padding-top: 10px;
        padding-bottom: 10px;
        display:flex;
        flex-flow: wrap row;
        justify-content: center;
    }
    
    #body_Personajes_Invencible #Centro_Personajes section p{
        font-size: 20px;
        font-family: "Chau Philomene One", sans-serif;
    }
    
    #body_Personajes_Invencible #Centro_Personajes h2{
        width: 100%;
        text-align: center;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Imagen{
        width: 170px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Texto{
        padding-top: 40px;
        width: 70%; /*en el responsive, transformar a 100%*/
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Imagen img{
        width: 100%;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Mark{
        background-color:rgba(94, 197, 238, 0.692);
        border-color: rgba(255, 255, 0, 0);
        border-style: solid;
        border-width: 5px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Mark:hover{
        background-color:rgba(21, 164, 247, 0.781);
        border-color: rgb(252, 252, 10);
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Mark:hover p{
        color:#161614;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Debbie{
        background-color:rgba(124, 240, 57, 0.726);
        border-color: rgba(255, 255, 0, 0);
        border-style: solid;
        border-width: 5px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Debbie:hover{
        background-color:rgba(43, 170, 11, 0.74);
        border-color: rgb(7, 43, 3);
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Nolan{
        background-color:rgba(253, 253, 253, 0.733);
        border-color: rgba(255, 255, 0, 0);
        border-style: solid;
        border-width: 5px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Nolan:hover{
        background-color:rgba(255, 255, 255, 0.89);
        border-color: rgb(250, 6, 6);
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Eve{
        background-color:rgba(233, 85, 166, 0.712);
        border-color: rgba(255, 255, 0, 0);
        border-style: solid;
        border-width: 5px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Eve:hover{
        background-color:rgba(245, 78, 209, 0.925);
        border-color: rgb(250, 4, 147);
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Robot{
        background-color:rgba(247, 182, 61, 0.589);
        border-color: rgba(255, 255, 0, 0);
        border-style: solid;
        border-width: 5px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Robot:hover{
        background-color:rgba(230, 133, 7, 0.644);
        border-color: rgb(21, 196, 5);
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Rex{
        background-color:rgba(238, 229, 102, 0.76);
        border-color: rgba(255, 255, 0, 0);
        border-style: solid;
        border-width: 5px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Rex:hover{
        background-color:rgba(238, 229, 102, 0.952);
        border-color: rgb(240, 65, 12);
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Cecil{
        background-color:rgba(138, 137, 133, 0.904);
        border-color: rgba(255, 255, 0, 0);
        border-style: solid;
        border-width: 5px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Cecil:hover{
        background-color:rgba(95, 95, 92, 0.952);
        border-color: rgb(73, 41, 4);
        color: white;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Allen{
        background-color:rgba(223, 153, 49, 0.685);
        border-color: rgba(255, 255, 0, 0);
        border-style: solid;
        border-width: 5px;
    }
    
    #body_Personajes_Invencible #Centro_Personajes .Allen:hover{
        background-color:rgba(231, 231, 230, 0.87);
        border-color: rgb(233, 151, 58);
    }


    

    /*Index*/

    #Centro_index .Parte_Inferior .Info{

        display:inline-block;
        text-align: center; /*Pasar a left en el responsive*/
        margin:2%;
        background-color: #1778f7;
        opacity:1;
    
        background-image:url(Imagenes/fondo_amarillo.jfif);
        background-size:1400px 1400px;
        background-position-x:-1400px;
        background-repeat: no-repeat;
    
        border-style: inset;
        border-color: #e9ec0aea;
        border-width: 10px;
        border-radius: 10px;
        transition: 0.1s;   
    }
    
    #Centro_index .Parte_Inferior .Info li{
        color:#e2e2d300;
        font-size: 18px;
        transition: 0.2s;
        list-style: none;
    }
    
    #Centro_index .Parte_Inferior .Info:hover li{
        color:#161614;
        transition: 0.5s;
    }
    
    #Centro_index .Parte_Inferior .Info h2{
        text-align: center;
        color:rgb(235, 213, 15);
    }
    
    #Centro_index .Parte_Inferior .Info:hover h2{
        color: #1870e4;
    }
    
    #Centro_index .Parte_Inferior .Info a{
        color: #16161400;
        transition: 0.2s;
        text-decoration:none;
    }
    
    #Centro_index .Parte_Inferior .Info:hover a{
        color: #1645c5;
        transition: 0.5s;
    }
    
    #Centro_index .Parte_Inferior .Info:hover{
        background-position-x:0px;
        background-repeat: no-repeat;
        transition: 0.3s;
    }



    /*Comic*/

    #body_comic_invencible #Flex_Comic{
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #14a0f1b2;
        margin-right: 7%;
        margin-left: 7%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #body_comic_invencible #Flex_Comic:hover{
        background-color: #0b2dc7af;
        border-color: yellow;
        border-style: solid;
        border-width: 1px;
        background-image: url("Imagenes/Fondo_Sangre.png");
        background-size: cover;
        background-repeat: repeat;
        background-position-x: 70px;
        background-position-y: -140px;
    }

    #body_comic_invencible #Info_Comic div{
        background-color:rgba(30, 128, 241, 0.774);
        border-color: rgb(4, 0, 255);
        border-style: solid;
        border-width: 2px;
        transition: 0.2s;
    }
    
    #body_comic_invencible #Info_Comic div:hover{
        background-color: #0b2dc7af;
        background-image: url("Imagenes/Fondo_Sangre.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        border-color: yellow;
        border-style: solid;
        border-width: 2px;
        transition: 0.1s;
    }
    
    #body_comic_invencible #Info_Comic div p{
        margin: 10px;
        font-size: 17px;
        color:rgb(58, 58, 55);
        transition: 0,5s;
    }
    
    #body_comic_invencible #Info_Comic div:hover p{
        color:rgb(238, 235, 235);
        transition: 0,5s;
    }
    
    #body_comic_invencible #Info_Comic div h1{
        text-align: center;
        color:rgb(23, 10, 209);
        transition: 0,5s;
    }
    
    #body_comic_invencible #Info_Comic div:hover h1{
        color:rgb(241, 227, 18);
        transition: 0,5s;
    }
    
    #body_comic_invencible #Info_Comic div h2{
        text-align: center;
        color:rgb(23, 10, 209);
        transition: 0,5s;
    }
    
    #body_comic_invencible #Info_Comic div:hover h2{
        color:rgb(241, 227, 18);
        transition: 0,5s;
    }





    /*Galeria*/

    #body_galeria_invencible #Centro_Galeria #Flex_Galeria{
        display: flex;
        flex-flow: row wrap;
        background-color:rgba(30, 128, 241, 0.774);
        border-color: rgb(4, 0, 255);
        border-style: solid;
        border-width: 2px;
        transition: 0.2s;
        justify-content: center;
        margin: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 30px;
    }
    
    #body_galeria_invencible #Centro_Galeria #Flex_Galeria:hover{
        background-color: #0b2dc7af;
        border-color: yellow;
        border-style: solid;
        border-width: 2px;
        transition: 0.1s;
    }





    /*Contactanos*/
    #body_contactanos_invencible #Contenedor_Flex_Contacto .IMAGEN{
        width:400px;
        padding-top: 200px;
        padding-left: 40px;
    }
    
    #body_contactanos_invencible #Contenedor_Flex_Contacto .IMAGEN img{
        width:360px;
        padding-top: 10px;
        padding-left: 20px;
        transition: 0.1s;
    }
    
    #body_contactanos_invencible #Contenedor_Flex_Contacto .IMAGEN img:hover{
        padding-top: 0px;
        padding-left: 0px;
        width:400px;
        transition: 0.1s;
    }

    .CONTACTO_CONTENEDOR{
        width: 500px;
        height: 500px;
        border-color: yellow;
        border-style: solid;
        border-width: 3px;
        background-color: rgb(12, 97, 209);
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 50px;
    
    }

    .Elementos_Contacto{
        font-size: 17px;
        font-family: "Chau Philomene One", sans-serif;
        color:yellow;
    }
    
    .Elementos_Contacto input{
        width: 160px;
        margin-left: 33%;
        border-radius: 10px;
        font-size: 10px;
    }
}


